<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <style>
        body {
            background-image: url('https://i.im.ge/2023/10/19/tFpJqS.spencer-davis-0QcSnCM0aMc-unsplash.jpg');
            background-size: cover;
            background-attachment: fixed;
        }

        .navbar-brand img {
            max-height: 80px; /* Ajusta a altura do logo conforme necessário */
        }
    </style>

</head>

<body>

    <!-- Barra de navegação Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/home.html"><img
                    src="https://i.im.ge/2023/11/16/Aa2bX8.logoagencia.jpg" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ofertas.html">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contato.html">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes/cadastrar">Cadastro</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/compras/formulario">Comprar passagens</a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-header">
                <h2 class="text-center">Cadastro de Cliente</h2>
            </div>
            <div class="card-body">
                <form action="/clientes/cadastrar" method="post" th:object="${cliente}">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" id="nome" name="nome" th:field="*{nome}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="senha" th:field="*{senha}"
                            required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>