<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
 
    <!-- Adicionando os links para os estilos do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/estiloseditarcliente.css">
</head>

<body>

    <div class="container">
        <div class="card">
            <div class="card-header">
                Editar Cliente
            </div>
            <div class="card-body">

                <form th:action="@{/clientes/editar/{id}(id=${cliente.id})}" method="post">
                    <!-- Campo oculto para enviar o ID -->
                    <input type="hidden" name="id" th:value="${cliente.id}">

                    <!-- Campos de edição -->
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" class="form-control" th:value="${cliente.nome}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" th:value="${cliente.email}"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha" name="senha" class="form-control" th:value="${cliente.senha}"
                            required>
                    </div>

                    <button type="submit" class="btn btn-primary">Atualizar Cliente</button>
                     <a href="/clientes" class="btn btn-primary">Voltar</a>
                </form>
            </div>
        </div>
    </div>

    <!-- Adicionando os scripts do Bootstrap (opcional, mas pode ser necessário para alguns recursos do Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>

