   body {
            background-color: #f8f9fa;
        }

        .container {
            max-width: 600px;
            margin-top: 50px;
        }

        .card {
            border: 1px solid #ced4da;
            border-radius: 10px;
        }

        .card-header {
            background-color: #007bff;
            color: #fff;
            border-bottom: 1px solid #ced4da;
        }

        .card-title {
            margin-bottom: 0;
            font-size: 1.5rem;
        }

        .card-body {
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }